
.DS_Store
config.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/linkedin-scrape.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
linkedin_scrape.csv
