
.DS_Store
config.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/linkedin-scrape.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea
linkedin_scrape.csv
dist
build
log.log
__pycache__
liscrape.spec
linkedin_scrape.xlsx
.~lock.linkedin_scrape.xlsx#
